body{
    margin: 50px;
    text-align: center;
    background: url ("G:\GIT\Web-Dev-Intern\asserts\images\image.jpg");
}
.bgcolor{
    background-color: green;
    font-size: 45px;
    display: inline-block;
    color: honeydew;
}
