    /* this is for h1 text color */
    body{
        margin: 35px;
    }
    .title{
        color: red ;
        font-style: italic;
      }
    h1.title:hover{
        color: green;
    }
    .body{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        font-style: italic ;

    }
    .small-caps{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: green;
        font-variant:small-caps ;  /* this will make everything in small caps */

    }
    .bold{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color:  violet;
        font-variant:small-caps ;  /* this will make everything in small caps */
        font-weight: 900;

    }
 
    .text{
        color: black;
    }
    p{
        text-align: center;
        font-size: 25px;
        color: black;
        text-indent: 25%;
       text-shadow: 3px 4px 6px  green;   /* this one will create a shadow  */
       letter-spacing: 5px;
    }
    .note{
        text-align: center;
        color: brown;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        cursor: pointer;
    }
    .txttransform{
        font-size: 30px;
        text-transform: capitalize;
    }