    /* this is for h1 text color */
    h1.title{
        color: red ;
        font-style: italic;
      }
    body{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        font-style: italic ;

    }
    .small-caps{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: green;
        font-variant:small-caps ;  /* this will make everything in small caps */

    }
    .bold{
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color:  violet;
        font-variant:small-caps ;  /* this will make everything in small caps */
        font-weight: bolder;

    }

