!!!5
%body
    %h1  Hello World Program using HAML
    / this is a comment line
    .names
        this is a class with the name "name"
    %p
        Hi this is a program made in haml and converted to html

    .container
        %h1
            this is inside container h1 and this will appear in red color
        %p
            this is a paragraph this will appear in orange color