input,textarea{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
}
form{
    font-size: large;
    font-weight: bolder;
    display: inline-block; 
    line-height: 35px;
}
fieldset{
    background-image: linear-gradient( #fcfcfc ,#a6aaaf);

}

button{
    background-image: linear-gradient( #DCE35B,#45B649);
    padding: 8px 16px;
    font-weight: bolder;
    

}
legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
}