/* mouse events */

#content{
 border: 1px solid black ;
 padding: 35px;
 font-size: 40px ;
 margin: 100px 583px
}
button{
    padding: 25px;
}
.buttons{
    align-items: center;
    margin: 50px 0 0  50px;   
}

/* close mouse events */

/* simpifiedx mouse events */
.button{
    margin-left: 583px;
}

/* end simplified mouse events */
